<div class="body">
  <div id="registerContainer">
    <a href="/#/home" class="returnToHome">x</a>
    <div class="logo"></div>
    <h5>Reset your password</h5>
    <div class="error">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h5>oops !</h5>
        <p>An error Occured please try Again later.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    <div class="fields">
      <input type="email" placeholder="Enter a new Password">
    </div>
    <div class="fields">
      <button class="submit">Reset</button>
    </div>
  </div>

</div>