<div class="body">
  <div id="registerContainer">
    <a href="/#/home" class="returnToHome">x</a>
    <div class="logo"></div>
    <h5>Find Your Account</h5>
    <p>Enter your email to reset your password.</p>
    <div class="error">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h5>oops !</h5>
        <p>couldn't found your email</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    <div class="fields">
      <input type="email" placeholder="Your email">
    </div>
    <div class="fields">
      <button class="submit">Proceed</button>
    </div>
  </div>

</div>