.body{
  background: #ececec;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: block;
 }
 #registerContainer{
  position: relative;
  width: 30em;
  margin: 5em auto;
  padding: 2em 2em 0 2em;
  background: white;
  border-radius: .5em;
  box-shadow: 1px 0px 7px 2px #d6d6d6;
  .logo {
    background-image: url('../../../assets/images/logo.png');
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2em;
  }

  > p {
    text-align: center;
    font-weight: bold;
  }

  .fields {
    position: relative;
  }

  .fields > input, button.register {
    width: 100%;
    height: calc(1.33em + 2rem + 2px);
    padding: 1rem 1.062rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.33;
    color: #4e5d78;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dfe7;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 1em 0;
  }

  .fields  input:focus {
    border-color: var(--success);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(53, 172, 128, 0.29);
  }

  .fields > button {
    line-height: normal;
    border: none;
    background: #228438;
    color: white;
    outline: none;
  }

 }

 .alert-danger {
  background: white;
  border: 1px solid#fe3f3e;
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
  h5 {
    color: #fe3f3e;
    font-size: medium;
  }
  p {
    color: #6a6c6d;
    margin: 0;
  }
}

button.close {
  padding: 0;
  font-size: large;
  position: absolute;
  margin: .5em;
}

button.close:focus{
  outline: none;
  span {
    outline: none;
  }
}
a.returnToHome{
  border: 2px solid #228438;
  background: white;
  font-size: small;
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
  color: gray;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

a.returnToHome:hover {
  text-decoration: none;
}

div.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  p {
    width: 100%;
    text-align: center;
    a {
      font-size: 0.75rem;
      color: var(--gray-dark);
    }
  }
}



//telephone 

.inputPhone {
  display: flex;
}
.countryInput {
  position: relative;
  width: 20%;
  height: 3em;
  display: block;
  border: 1px solid #d9dfe7;
  border-radius: 0.25rem 0 0 0.25rem;
  font-weight: 400;
  line-height: 2;
  color: #4e5d78;
  padding: 0.3em .5em;
  padding-left: 0.8em;
}
.countryInput:after {
  content: "▾" !important;
  position: absolute !important;
  color: #4e5d78;
  font-size: 20pt;
  top: -7px;
  right: 7px;
  pointer-events: none !important;
  transition: all 400ms ease !important;
}


.inputValue {
  position: relative;
  width: 80%;
  left: -1px;
  > input {
    height: 4em;
    width: 100%;
    padding-left: .8em;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.33;
    color: #4e5d78;
    border: 1px solid #d9dfe7;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}


.countryList {
  position: absolute;
  width: 100%;
  display: none;
  border: 1px solid #d9dfe7;
  height: 6em;
  ul {
    padding: 0;
    li {
      list-style: none;
      cursor: pointer;
      padding: .7em;
      span {
        color: #aba8a8;
        pointer-events: none;
      }
      
    }
    li:hover {
      background: #343a409e;
      color: white;
    }
  }  
}

.countryToggleDisplay {
  position: absolute;
  width: 99.7%;
  border: 1px solid #d9dfe7;
  display: block;
  background: var(--white);
  z-index: 1000;
  top: 3.1em;
  font-size: .9em;
  font-weight: 400;
  color: #343a40c9;

}

.toggleSpiner:after {
  color: #238338;
}


//telephone 


@media (max-width: 599px) { 

  .body {
    height: initial;
    width: initial;
  }
}
