
#main {
  height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

  // 

  nb-layout-column {
    padding: 0 !important;
  }


/* ==========================================================================
   #FONT
   ========================================================================== */
   .font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  }
  
  
  /* ==========================================================================
     #BOX-SIZING
     ========================================================================== */
  
  * {
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  } 
  
  $primary: rgb(182,157,230); 
  
  
  /* ==========================================================================
     #PAGE WRAPPER
     ========================================================================== */
  .page-wrapper {
    min-height: 100vh;
    padding-top: 5em;
  }
  
  body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
    
  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
  .wrapper {
    margin: 0 auto;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
     
  /* ==========================================================================
     #TITLE
     ========================================================================== */
  
  .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 37px;
    text-align: center;
  }
  
  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    border: none;
  }
  
  .card-2 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
  }
  
  .card-2 .card-heading {
    background: url('../../../assets/images/bg-heading-02.jpg') top left/cover no-repeat;
    width: 29.1%;
    display: table-cell;
  }
  
  .card-2 .card-body {
    // display: table-cell;
    // padding: 3.5em 8em 1em 8em;
    padding: 3.5em 4em 1em 4em;
  }


 

[nbInput].status-basic:focus {
  background-color: unset !important;
  border: 1px solid #2196F3 !important;
}

[nbInput].status-basic:hover {
  background-color: unset !important;
  border: 1px solid $primary !important;
}

nb-overlay-container nb-card {
  position: fixed !important;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2em 0;
}

.form-errors > .alert {
  width: 100%;
  padding: 1em !important;
  box-sizing: border-box;
 }


  .form > input {
    all: unset;
    border: 1px solid $primary;
    border-radius: 3px;
    padding: 0.5em;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    min-width: 45%;
    box-sizing: border-box;
  }


  //gender 

  .form nb-radio-group nb-radio {
    display: inline !important;
  }


  .form2 {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    margin: 2em 0;
  }

  .form2 h6 {
    font-size: medium !important;
    font-weight: bold !important;
    line-height: 2rem !important;
    margin-right: 1em !important;
  }
  .form2 button {
    margin-right: 4em;
  }



  /* ==========================================================================
   #DATE PICKER
   ========================================================================== */

.daterangepicker {
  all:unset;
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker:focus {
  all:unset;
}

.daterangepicker:hover {
  all:unset;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

  
  @media (max-width: 767px) {
    .card-2 {
      display: block;
    }
    .card-2 .card-heading {
      width: 100%;
      display: block;
      padding-top: 300px;
      background-position: left center;
    }
    .card-2 .card-body {
      display: block;
      padding: 60px 50px;
    }
  }
  